img{
	width: 250px;
	height: 200px;
	border-radius: 10px;
}
footer{
	word-spacing:8px;
}
td{
	padding:15px 60px;
}
.imgborder{
	border:1px solid;
	margin-bottom: 12px;
}
.footer{
	margin:0px 100px;
	line-height:30px;
}
a:link{
	color:black;
}
a:visited{
	color:black;
}

span{
	border-radius: 10px;
	border:2px outset #9D9D9D;
	padding:5px 8px;
	
}
span:hover{
	font-size: 17px;
}
